.contact {
	height: 400px;
	background-image: url(foto2small.jpg);
}
@media screen and ( min-width: 1024px){
.contact {
	background-image: url(foto1big.jpg);
	height: 500px;
}
}
@media screen and ( min-width: 1024px){
	.contact h1, .contact h3 {
		padding-left: 120px;
		padding-top: 20px;
	}
}
.contact h1, .contact h3 {
	font-size: 60px;
	margin-left: 15px;
}
.contact h1 {
	font-size: 60px;
}
.contact h3 {
	padding-top: 15px;
	font-size: 20px;
}
.contact a {
	color: black;
}
.contact a:hover {
	color: #A67D4A;
}
