.text {
	height: 420px;
	background-image: url(tlo4_small.jpg);
	border: 2px solid black;

}
@media screen and ( min-width: 1024px){
	.text {
	background-image: url(tlo4_big.jpg);
	height: 550px;
}
}
.linia {
	font-size: 26px;
	letter-spacing: 2px;
	margin: 50px;
	
}
@media screen and ( min-width: 1024px){
	.linia {
		font-size: 35px;
		padding-left: 100px;
	}
}
.liniap  {
	font-size: 14px;
	word-spacing: 10px;
	line-height: 20px;
	text-align: justify;
	width: 400px;
	margin: 50px;
}
@media screen and ( min-width: 1024px){
.liniap {
	font-size: 18px;
	width: 800px;
	padding-left: 100px;
	}
}

.text a {
	font-size: 15px;
	background-color: #A67D4A;
	border-radius: 80px;
	padding: 15px 30px;
	font-weight: 900;
	color: white;
	padding: 10px 20px;
	margin-left: 50px;
}
@media screen and ( min-width: 1024px){
.text a {
	font-size: 15px;
	padding: 10px 20px;
	margin-left: 150px;
	}
}
	
.linia2 {	
	border-top: 4px solid #A67D4A;
	border-bottom: 4px solid #A67D4A;
}

.text a:hover {
	color: #A67D4A;
	background-color: white;
}


