main {
    margin: 100px;
    text-align: center;
}
main h1 {
	font-size: 30px;
	font-weight: 800;
	text-transform: capitalize;
    color: #A67D4A;
    padding-bottom: 20px;
}
main p {
	font-size: 14px;
	color: black;

	line-height: 2.0;
}