/* górne logo*/

@media screen and ( min-width: 1024px){
	.logo-top li {
		display: inline-block;

	}
}

@media screen and ( min-width: 1024px){
	.logo2  {
		font-size: 23px;
		margin-left: 20px;
	}
}
@media screen and ( min-width: 1024px){
	.logo3 {
		font-size: 14px;
		margin-left: 1100px;
		padding: 8px 20px 5px;
	}
}
@media screen and ( min-width: 1024px){
	.logo4  {
		font-size: 13px;
	}
}


/* logo dolne*/

@media screen and ( min-width: 1024px){
	.logo-botton li {
		display: inline-block;
		padding: 25px 0;
	}
}

@media screen and ( min-width: 1024px){
	.anny {
		font-size: 18px;
		padding: 0 650px 0 200px;
	
	}
}
@media screen and ( min-width: 1024px){
	.link {
		font-size: 12px;
		padding: 10px 30px;
	}
}	
@media screen and ( min-width: 1024px){
	.home {
		font-size: 12px;
		padding-right:10px;
	}
}
	
/*obraz w tle */
@media screen and ( min-width: 1024px){
	section {
		width: 100%;
		height: 700px;
		background: url('tlo1.jpg');
		background-repeat: no-repeat;
	}
}
@media screen and ( min-width: 1024px){
	.linia h1 {
		font-size: 40px;
		padding-left: 800px;
		word-spacing: 8px;
		padding-top: 150px;
	
	}
}
@media screen and ( min-width: 1024px){
	section p {
		font-size: 15px;
		margin-top: 30px;
		font-weight: 600;
		text-align: right;
		line-height: 1.5;
		padding-left: 500px; 
		padding-right: 60px;
	}
}
@media screen and ( min-width: 1024px){
	section a {
		font-size: 16px;
		margin-top: 10px;
		text-align: center;
		margin-left: 1320px;
		padding: 15px 20px;
		font-weight: 900;
		border-radius: 70px;
	}
}
/*recent works */
@media screen and ( min-width: 1024px){
	header h1 {
		font-size: 30px;
		padding-top: 60px;
	}
}
@media screen and ( min-width: 1024px){
	header p {
		font-size: 16px;
		margin-bottom: 70px;		
	}
}
/* trzy obrazki pierwszy rząd*/

@media screen and ( min-width: 1024px){
	.container {
		width: 1200px;
		height: 400px;
	}
}
@media screen and ( min-width: 1024px){
	.image {
		width: 400px;
		height: 400px;
		padding: 15px;

	}
}
@media screen and ( min-width: 1024px){
	.topleft1 {
		position: absolute;
		top: 280px;
		left: 190px;
		font-size: 20px;
		border-top: 4px solid #a67d4a;
	}
}
@media screen and ( min-width: 1024px){
	.bottonleft1 {
		position: absolute;
		bottom: 6;
		left: 150px;
		font-size: 15px;
	}
}
@media screen and ( min-width: 1024px){
	.boxoneone {
		position: relative;
		float: left;
	}
}

/* work */
@media screen and ( min-width: 1024px){
	.container1 {
		width: 100%;
		clear: both;
		height: 550px;;
	}
}

@media screen and ( min-width: 1024px){
	.box {
		position: relative;
		float: left;
		clear: both;
	} 
}

@media screen and ( min-width: 1024px){
	.top {
		position: absolute;
		top: 90px;
		left: 200px;
		font-size: 50px;
		color: #a67d4a;
		width: 400px;
		}		
	}
	@media screen and ( min-width: 1024px){
	.botton {
		position: absolute;
		top: 180px;
		left: 200px;
		font-size: 15px;
		color: black;
		text-align: justify;
		width: 500px;;
		line-height: 2.0;
		}
	}

	@media screen and ( min-width: 1024px){
	.right {
		position: absolute;
		top: 100px;
		left: 900px;
		height: 450px;
		width: 450px;
		}
	}

/* footer */
@media screen and ( min-width: 1024px){  
	footer {
		color: #A67D4A;
		text-transform: capitalize;
		padding: 30px 220px;
		margin-top: 60px;
		font-size: 15px;
		}
	}
@media screen and ( min-width: 1024px){
	.tekst2:hover {
		cursor: pointer;
		}
	}
@media screen and ( min-width: 1024px){
	.tekst3 {
		padding-left: 800px;
		}
	}