
/* navbar*/
.navbar {
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	
}
.logo1 {
	font-size: 24px;
	padding-left: 20px;
}
.logo2 {
	color: #669900;
	font-size: 24px;
}
.logo3 {
	font-size: 17px;
	background-color: #669900;
	padding: 8px 20px;
    border-radius: 8px;
	margin-right: 10px;
	
}
.logo3:hover {
	background-color: #669968;
}
.logo4 {
	color: #777777;
	font-size: 14px;
	padding-right: 50px;
}
.logo4:hover {
	color: white;
}
/* logo-botton*/
.logo-botton {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}
.logo-link {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 50px;
}
.logo-anna a {
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
 }
 .logo-link a {
	letter-spacing: 1px;
	color: black;
	font-size: 13px;
	padding: 5px 10px;
 }

 .logo-link a:hover {
	 color: #A67D4A;
 }
