.ourcontact {
    display: flex;
 
    justify-content: space-around;
    align-items: center;
    margin: 100px 0;
}
.ourcontact1 {
    width: 550px;
    padding-left: 50px;
}
.ourcontact1 h1 {
    font-size: 30px;
}
.ourcontact1 h1, 
.ourcontact1 h3 {
    font-weight: bold;
}
.ourcontact1 h3 {
    font-size: 20px;
}
.ourcontact1 p {
    padding: 15px 0;
    font-size: 15px;
}
.ourcontact2 {
    margin-top: 30px;
}
.mapa img {
    width: 400px;
    height:450px;
}
  