/*reset*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}




* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	margin: 0 auto;
	font-family: 'Lato', sans-serif;
	}
a {
	text-decoration: none;
	}
/* górne logo*/

.logo-top {
	background-color: black;
	box-shadow: 1px 1px 0 black;
	max-width: 100%;
}
.logo-top li {
	display: inline-block;
	padding: 10px 10px;
}
.logo2  {
	font-size: 22px;
	line-height: 1.5;
	color: white;
}
.logo2::after {
	content: "market";
	color: #669900;
}
.logo3 {
	font-size: 14px;
	background-color: #669900;
	border-radius: 5px;
	color: white;
	margin-left: 190px;
	padding: 8px 15px;
}
.logo3:hover {
    background-color: #82b440;
}
.logo4 {
	color: #777777;
	text-transform: capitalize;
	font-size: 13px;
	font-weight: 500;
}
.logo4:hover {
	color: white;
}

/* logo dolne*/
.logo-botton {
	background-color: white;
	color: black;
	text-transform: uppercase;
	max-width: 100%;
}
.logo-botton li {
	text-align: center;
}
.anny {
	font-size: 15px; 
	color: #A67D4A; 
	font-weight: 900;
	text-transform: uppercase;
}
.home {
	color: #A67D4A;
	font-size: 12px;
}
.link {
	color: black;
	font-size: 12px;
}
.link:hover {
	color: #A67D4A;
}
/*obraz w tle */
section {
	background: url('tlo3.jpg');
	background-repeat: no-repeat;
	height: 355px;
	cursor: pointer;
	max-width: 100%;
}
.linia h1 {
	font-size: 20px;
	padding: 50px 0 0 180px;
	text-transform: capitalize;
	word-spacing: 10px;
}
.linia1{
	color: white;
}
.linia2 {
	color: #A67D4A;	
	border-top: 4px solid #A67D4A;
	border-bottom: 4px solid #A67D4A;
}
.linia3 {
	color: white;
}
section p {
	font-size: 16px;
	color: white;
	margin: 20px 70px 30px 180px;
	text-align: right;
	line-height: 1.2;
}
section a {
	color: white;
	font-size: 15px;
	background-color: #A67D4A;
	border-radius: 20px;
	text-transform: uppercase;
	display: inline-block;
	margin-left: 390px;
	padding: 10px 20px;
	font-weight: 900;
}
section a:hover {
	color: #A67D4A;
	background-color: white;
}

/*recent works */
header {

	background-color: white;
	text-align: center;
}
header h1 {
	font-size: 30px;
	color: #A67D4A;
	text-transform: capitalize;
	padding-top: 100px;
	font-weight: 800;
}
	header p {
	font-size: 14px;
	color: black;
	margin-top: 20px;
	line-height: 2.0;
	margin-bottom: 90px;
}
/* trzy obrazki pierwszy rząd*/
		
.container {
	color: white;
	margin: 0 auto;
}
.image {
	max-width: 100%;
	height: 660px;
	padding: 5px 10px;
}
.topleft1 {
	position: absolute;
	top: 540px;
	left: 360px;
	font-size: 20px;
	border-top: 5px solid #A67D4A;
	text-transform: capitalize;
	padding-top: 10px;
}
.bottonleft1 {
	position: absolute;
	bottom: 60px;
	left: 300px;
	font-size: 17px;
}
.boxoneone {
	position: relative;
}
/* work */
.container1 {
	width: 80%;
	clear: both;
	height: 850px;
	margin: 0 auto;
}
.box {
	position: relative;
	float: left;
	clear: both;
} 
.top {
	position: absolute;
	top: 50px;
	left: 10px;
	font-size: 15px;
	color: #A67D4A;
	font-size: 30px;
	width: 200px;
}
.botton {
	position: absolute;
	top: 100px;
	left: 10px;
	font-size: 15px;
	color: black;
	width: 450px;
	line-height: 1.6;
	text-align: justify;
}
.right {
	width: 450px;
	height: 450px;
	position: absolute;
	top: 380px;
	left: 30px;
}
/* footer */

footer {
	color: #A67D4A;
	text-transform: capitalize;
	font-size: 14px;
	padding: 20px 80px;
	margin-top: 30px;
	background: linear-gradient(left,#ffffff, rgb(204, 204, 204));
	background: -moz-linear-gradient(left,#ffffff, rgb(204, 204, 204));
	background: -o-linear-gradient(left,#ffffff, rgb(204, 204, 204));
	background: -webkit-linear-gradient(left,#ffffff, rgb(204, 204, 204));
}
.tekst2:hover {
	cursor: pointer;
}
.tekst3 {
	padding-left: 120px;
}

	
