/*reset*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
 display: block;
}
body {
 line-height: 1;
}
ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}



* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}
a {
	text-decoration: none;
}
/* górne logo*/
.navbar {
	background-color: black;
	box-shadow: 1px 1px 0 black;
	padding: 0 20px;
	display: flex;
	min-height: 60px;
	align-items: center;
}
.navbar-list {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	margin-left: 30px;
}
.navbar-list a {
	margin: 0 10px;
}
.navbar-branding a {
	margin-left: 10px;
	font-size: 20px;
	color: white;
}

.logo2::after {
	content: "market";
	color: #669900;
}

.logo3 {
	font-size: 14px;
	color: white;
	background-color: #669900;
	padding: 8px 20px;
	border-radius: 5px;
}
.logo3::first-letter {
	text-transform: capitalize;

}
.logo3:hover {
	background-color: #669968;
}
.logo4 {
	color: #777777;
	text-transform: capitalize;
	font-size: 13px;
}
.logo4:hover {
	color: white;
}

/* logo dolne*/
.logo-botton {
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	flex-wrap: wrap;
}
.logo-botton, .logo-anna, .logo-link {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	min-height: 80px;
}
.logo-anna a {
	 color: #A67D4A;
	 font-size: 20px;
	 font-weight: bold;
	 text-transform: uppercase;
	 margin: 0 40px;
 }
 .logo-link {
	flex-grow: 1;
	 text-transform: uppercase;
	 letter-spacing: 1px;
 }
 .logo-link a {
	color: black;
	font-size: 12px;
	margin: 0 10px;
 }
 .logo-link a:hover {
	 color: #A67D4A;
 }
/*obraz w tle */

.text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: baseline;
	align-items: flex-end;
	background-image:url(tlo1.jpg);
	background-size: cover;
	height: 600px;
	width: 100%;
	border: 1px solid black;
}
.text h1 {
	margin-top: 50px;
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 900;
	letter-spacing: 2px;
	padding-right: 50px;
}
.text p {
	word-spacing: 10px;
	line-height: 20px;
	text-align: justify;
	padding-top: 30px;
	color: white;
	width: 500px;
	padding-right: 50px;
	font-size: 14px;
}
.text a {
	font-size: 15px;
	font-weight: 900;
	color: white;
	background-color: #A67D4A;
	border-radius: 20px;
	padding: 15px 29px;
	margin: 30px 50px;
	text-transform: uppercase;
}
.linia1{
	color: white;
}
.linia2 {	
	border-top: 4px solid #A67D4A;
	border-bottom: 4px solid #A67D4A;
	color: #A67D4A;
}
.linia3 {
	color: white;
}

.text a:hover {
	color: #A67D4A;
	background-color: white;
}
/*recent works*/
header {
	background-color: white;
	text-align: center;
	height: 250px;
}
header h1 {
	font-size: 30px;
	padding: 50px 0;
	font-weight: 800;
	text-transform: capitalize;
	color: #A67D4A;
}
	header p {
	max-width: 500px;
	font-size: 14px;
	color: black;
	margin: 0 auto;
	line-height: 2.0;
}
/*obrazki*/
.card-section {
    max-width:100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: stretch;
}
.card {
    width: 400px;
    height: 400px;
    border-radius: 3px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	background-repeat: no-repeat;
}
.card h2 {
	width: 50%;
	text-align: right;
	margin: 250px 30px 10px 175px;
	padding-top: 10px;
	color: white;
	font-size: 16px;
	text-transform: capitalize;
	border-top: 4px solid #A67D4A;
}
.card p {
	color: white;
	font-size: 16px;
	text-align: right;
	margin-top: 10px;
	margin-right: 20px;
}
.card-1  {
    background-image: url(image_big3_3.jpg);
}
.card-2 {
	background-image: url(image_big1_2.jpg);
}
.card-3 {
	background-image: url(image_big1_3.jpg);
}
.card-4  {
	background-image: url(image_big2_1.jpg);
}
.card-5  {
    background-image: url(image_big2_2.jpg);
}
.card-6  {
    background-image: url(image_big2_3.jpg);
}
.card-7  {
    background-image: url(image_big3_1.jpg);
}
.card-8  {
    background-image: url(image_big3_2.jpg);
}
.card-9  {
    background-image: url(image_big3_3.jpg);
}
/* work */
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	margin-top: 200px;
}
.side h1 {
	font-size: 40px;
	color: #A67D4A;
	padding-left: 20px;
	font-weight: 900;
	padding-bottom: 30px;
}
.side p {
	font-size: 16px;
	line-height: 1.5;
	text-align: justify;
	padding: 0 20px;
	line-height: 1.8;	
}
.main {
	margin: 20px 0 50px 0;
}
.main img {
	width: 400px;
	height: 400px;
}

/* footer */

footer {
	font-size: 15px;
	background: linear-gradient(left,#ffffff, rgb(204, 204, 204));
	background: -moz-linear-gradient(left,#ffffff, rgb(204, 204, 204));
	background: -o-linear-gradient(left,#ffffff, rgb(204, 204, 204));
	background: -webkit-linear-gradient(left,#ffffff, rgb(204, 204, 204));
}
.tekst1 {
	color: #A67D4A;
	text-transform: capitalize;
	padding-left: 50px;
}
.tekst2 {
	color: #A67D4A;
}
.tekst2:hover {
	cursor: pointer;
}
.tekst3 {
	padding-left: 120px;
	color: #A67D4A
}


/*strona kontakt zdjęcie*/
.contact {
	width: 100%;
	height: 200px;
	position: relative;
	margin-top: 10px;
	

}
.contact1 {
	font-size: 50px;
	left: 10px;
	top: 10px;
	font-weight: bold;
	position: absolute;
	color: #A67D4A;
	text-transform: capitalize;
	padding-top: 10px;
}
.contact3 img{
	width: 100%;
	height: 200px;
}
.contact2 {
	position: absolute;
	top: 60px;
	left: 10px;
	padding-top: 10px;
	text-transform: capitalize;
}
.contact2 a {
	color: black;
}
.contact2 A:hover {
	color: rgb(7, 111, 248);
}

/*strona kontakt dane*/
.ourcontact {
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 0;
}
.ourcontact1 h1 {
	font-size: 30px;
	font-weight: bold;
	margin: 50px 0 10px 10px;
	text-transform: capitalize;
	color: #A67D4A;
	letter-spacing: 1.5;
	}
.ourcontact1 p {
	color: black;
	line-height: 1.5;
	text-align: justify;
	font-size: 18px;
	padding: 10px 10px;
}
.ourcontact img {
	width: 90%;
	margin-left: 30px;
	border: 1px solid #777777;
}
.adress h3 {
	font-size: 20px;
	margin: 0 0 10px 40px;
	font-weight: bold;
	text-transform: capitalize;
	
}		
.adress p {
	width: 30%;
	margin: 0 0 20px 40px;
	line-height: 150%;
	font-size: 15px;
	
}
.contact-form {
	width: 100%;
	margin: 0 auto;
	box-sizing:content-box;
}
.contakt-form-inner {
	width: 100%;	
	margin: 0 auto;

}
.contact-form input {
	width: 80%;
	margin: 0 0 20px 70px;
	padding: 10px;
	text-transform: capitalize;
	box-shadow: 0px 5px 12px 2px rgba(107, 69, 22, 0.88);
	border-top: none;
	line-height: 200%;
	outline: none;
}
.contact-form textarea {
	width: 80%;
	margin: 0 0 20px 70px;
	border: 2px  solid #A67D4A;
	padding: 18px 50px 80px 10px;
	text-transform: capitalize;
	font-size: 15px;
	box-shadow: 0px 5px 12px 2px rgba(107, 69, 22, 0.88);
	border-top: none;
	outline: none;
}
.contact-form button {
	padding: 10px 20px;
	border: 2px solid #A67D4A;
	border-radius: 25px;
	font-size: 14px;
	text-transform: uppercase;
	background-color: #A67D4A;
	color: white;
	margin: 40px 0 150px 250px;

}
.contact-form button:hover {
	background-color: #999999;
	border: 2px solid #999999;
}